html,
body,
.grid-container {
	height: 100%;
	margin: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1px 1px;
	grid-template-areas: 'main main main main''main main main main''iPHONE5S Iphone5s Happy-Birthday Supplier';
	width: 1200px;
}

.main {
	grid-area: main;
	background-color: #cccccc;
	height: 100vh;
	background-position: center -600px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../photos/your_verse_hero.jpg);
}

.iPHONE5S {
	grid-area: iPHONE5S;
}

.Iphone5s {
	grid-area: Iphone5s;
}

.Happy-Birthday {
	grid-area: Happy-Birthday;
}

.Supplier {
	grid-area: Supplier;
}

/* For presentation only, no need to copy the code below */
.grid-container * {
	border: 1px solid red;
	position: relative;
}

.grid-container *:after {
	content: attr(class);
	position: absolute;
	top: 0;
	left: 0;
}

nav a {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

nav li {
	display: inline-block;
	width: 10%;
	padding: 5px 10px;
	background-color: #000;
	border: 1px solid #000;
	text-align: center;
	color: #fff;
}

nav li:hover {
	background-color: #fff;
	color: #000;
}