* {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.super-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* MAIN ARTICLE STYLING */
.main-article {
	background: url(img/your_verse_hero.jpg) no-repeat center -785px;
	width: 1345px;
	height: 533px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* MEDIA QUERIES */
@media (min-width: 1800px) {
	.main-article {
		background: url(/photos/your_verse_hero.jpg) no-repeat center -635px;
		height: 682px;
	}
}

@media (min-width: 2000px) {
	.main-article {
		background: url(/photos/) no-repeat center -300px;
		height: 1020px;
	}
}
